<html>
  <form method="post" action="/names">
    Player 1: <input type="text" name="player1"> <br>
    Player 2: <input type="text" name="player2"> <br>
    <input type="submit" value="submit"> <br>
  </form>
</html>
