<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/mainstyle.css">
  </head>
  <body>
    <img class='backimg' src='http://cdn.wallpapersafari.com/78/18/240ISw.jpg'>
    <div class="page-wrapper">
      <form method="post" action="/names">
        <div class="player-one-box">
          <h2>Player 1</h2> <input class='namebox' type="text" name="player1"> <br>
        </div>
        <div class="player-two-box">
          <h2 id='play2'>Player 2</h2> <input class='namebox' type="text" name="player2"> <br>
        </div>
        <div class='float-block'></div>
        <input class='begin' type="submit" value="FIGHT!"> <br>
      </form>
    </div>
  </body>
</html>
